{% extends "nav.html" %}


{% block header %}

<div class="container">
<div class="row">   
	<div class="col-xs-7">
	<h4 style="display:inline";><b><i>Notice</i></b></h4>
	</div>
			<div class="col-xs-5">
			</div>

		</div>
		</div>
		
	</div>
	<hr>
	{% endblock %}
	{% block body %}
	<div class="container">
	<div class="row">



	</div>
	

	<div class="row">
		<div class="col-xs-8">

			<div class="table-responsive">
				<table class="table table-hover table-bordered">
					<tr>
						<th class="active"><small>NoticeTag</small></th>
						<th class="active"><small>Notice Type</small></th>
						<th class="active"><small>Published On</small></th>
						<th class="active"><small>Valid To</small></th>
						<th class="active"><small>Download</small></th>
						

					</tr>

					{% for notice in all_notice%}

					<tr>
						<td><small>{{ notice.NoticeTag|capfirst}}</small></td>
						<td><small>{{ notice.NoticeType|lower|capfirst}} </small></td>
						<td><small>{{ notice.NoticeStartDate}}</small></td>
						<td><small>{{ notice.NoticeEndDate}}</small></td>
						<td><a href="{{notice.NoticeFile.url}}" <i class="fa fa-download fa-lg "></i></a></td>
						








					</tr>
					{% endfor %}
					{% for notice in one_notice%}

					<tr>
						<td><small>{{ notice.NoticeTag|capfirst}}</small></td>
						<td><small>{{ notice.NoticeType|lower|capfirst}} </small></td>
						<td><small>{{ notice.NoticeStartDate}}</small></td>
						<td><small>{{ notice.NoticeEndDate}}</small></td>
						<td><a href="{{notice.NoticeFile.url}}" <i class="fa fa-download fa-lg "></i></a></td>
					</tr>
					{% endfor %}

				</table>
				
			</div>



		</div>
	</div>
	</div>
	{% endblock %}
