{% extends "nav.html" %}

<!-- Header part start hear , inludes  institution logo its bellow of nav bar and its contais the header of -->
{% block header %}

<div class = "container">
	<div class="row">
		<div class="col-xs-5">
			{% for inst in inst_data %}
			<img class="img-responsive" src="{{ inst.InstLogo.url }}" alt="{{ inst.InstLogo.name }}" height="75" width="450">
			{% endfor %}

		</div>
		<div class="col-xs-5" >

		</div>

		<div class="col-xs-2" >
			<h5><p class="text-info">{% now "D d M Y " %}-{% now "H:i" %}</p></h5>
		</div>


	</div>
	<!-- </div> -->
</div>
<hr>
{% endblock header %}
<hr>

{% block body %}

<div class="container">
	<div class="row row-no-padding">
		<div class="col-xs-8 ">

			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-example-generic" data-slide-to="1"></li>
					<li data-target="#carousel-example-generic" data-slide-to="2"></li>
					<li data-target="#carousel-example-generic" data-slide-to="3"></li>
					<li data-target="#carousel-example-generic" data-slide-to="4"></li>
					<li data-target="#carousel-example-generic" data-slide-to="5"></li>
					<li data-target="#carousel-example-generic" data-slide-to="6"></li>
				</ol>

				<!-- Wrapper for slides -->
				<div class="carousel-inner">
					<div class="item active">
						<img src="/media/Institute/ScrollImage/16920624300_21d2e71a6c_o.large.jpg" alt="...">
						<div class="carousel-caption">
							<h3>Front Page</h3>
						</div>
					</div>
					{% block deptimage%}
					{% for scrollimg in inst_sc_img %}

					<div class="item">
						<img class="img-rounded img-responsive" src="{{ scrollimg.ImageScroll.large.url }}" alt="{{ scrollimg.ImageScroll.name }}" height="300" width="700">
						<div class="carousel-caption">

							<h3>{{scrollimg.ImageDes}}</h3>

						</div>
					</div>


					{% endfor %}
					{% endblock %}

				</div>

				<!-- Controls -->
				<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left"></span>
				</a>
				<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right"></span>
				</a>
			</div> <!-- Carousel -->
			<h4><p class="bg-primary"><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span><b>Mission & Vision</b></p></h4>



			{% for inst in inst_data %}
			<span>
				<p class="text-justify text-info "> <b>{{ inst.InstDescrip|safe }}</b></p>
			</span>

			{% endfor %}


		</div>
		<div class="col-xs-4" >
			<div class="panel panel-primary">
				<div class="panel-heading"><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span><b><i>News& Updates</i></b></div>
				<div class="panel-body">

					{% for notice in  noti_notice%}

					<li ><a href="/notice/{{notice.id}}">{{notice.NoticeTag}}  <small>({{notice.NoticeType|lower|capfirst}})</small></a></li>

					{% endfor %}

					{% for notice in reg_notice %}

					<li ><a href="/notice/{{notice.id}}">{{notice.NoticeTag}} <small>({{notice.NoticeType|lower|capfirst}})</small></a></li>

					{% endfor %}
					{% for notice in  pri_notice%}

					<li ><a href="/notice/{{notice.id}}">{{notice.NoticeTag}} <small>({{notice.NoticeType|lower|capfirst}})</small></a></li>

					{% endfor %}

					{% for notice in aco_notice %}

					<li ><a href="/notice/{{notice.id}}">{{notice.NoticeTag}} <small>({{notice.NoticeType|lower|capfirst}})</small></a></li>

					{% endfor %}

					{% for notice in aco_notice %}

					<li ><a href="/notice/{{notice.id}}">{{notice.NoticeTag}} <small>({{notice.NoticeType|lower|capfirst}})</small></a></li>

					{% endfor %}

				</div>
			</div>

		</div>
</div>

<hr>

<div class="row">


	<div class="col-xs-5"  >
		<h4><p class="bg-primary"><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span><b>Events</b></p></h4>
		<ul class="list-group">

			{% for special_event in special_event %}
			<li class="list-group-item">

				<div class="media">
					<div class="pull-left">
						<a href="#">
							<img class= "img-rounded img-responsive" src="{{ special_event.Event_Image.thumbnail.url }}" alt="{{ special_event.Event_Image.name }}" height="60" width="60">
						</a>
					</div>
					<div class="media-body">
						<h5 class="media-heading"><a href="#">{{special_event.Events_Name|truncatechars:30}}</a></h5>
						<p class="text-info "> <small>{{special_event.Events_Descriptions|safe|truncatechars:200}}</small></p>	
					</div>

				</div>
			</li>

			{% endfor %}
		</ul>
	</div> 


<div class="col-xs-6" >

</div>
</div>

<hr>

<div class="row">
	<!-- <div class="col-xs-3">

		<div class="panel panel-default">
			<div class="panel-heading"><span class="glyphicon glyphicon glyphicon-comment" aria-hidden="true"></span><b><i>Training</i></b></div>
			<div class="panel-body">
				{% for notice in trng_notice %}

				<li ><a href="/notice/{{notice.id}}">{{notice.NoticeTag}}</a></li>

				{% endfor %}
			</div>
		</div>
	</div>
	<div class="col-xs-3">

		<div class="panel panel-default">
			<div class="panel-heading"><span class="glyphicon glyphicon glyphicon-comment" aria-hidden="true"></span><b><i>Exam & Result</i></b></div>
			<div class="panel-body">
				{% for notice in res_notice %}

				<li ><a href="/notice/{{notice.id}}">{{notice.NoticeTag}}</a></li>

				{% endfor %}
				{% for notice in exam_notice %}

				<li ><a href="/notice/{{notice.id}}">{{notice.NoticeTag}}</a></li>

				{% endfor %}
			</div>
		</div>
	</div>
	<div class="col-xs-3">

		<div class="panel panel-default">
			<div class="panel-heading"><span class="glyphicon glyphicon glyphicon-comment" aria-hidden="true"></span><b><i>Academic Announcement</i></b></div>
			<div class="panel-body">
				{% for notice in aca_notice %}

				<li ><a href="/notice/{{notice.id}}">{{notice.NoticeTag}}</a></li>

				{% endfor %}
			</div>
		</div>
	</div>
	<div class="col-xs-3">

		<div class="panel panel-default">
			<div class="panel-heading"><b>RTI</b></div>
			<div class="panel-body">
				Panel content
			</div>
		</div>

	</div>	 -->

</div>
</div>

{% endblock %}