{% extends "nav.html" %}


{% block title %}
<div class="panel panel-info" style ='background-color: #B0E0E6';>

	<div class="panel-body">

		<div class="row ">
			<div class="col-xs-5">
				{% for inst in inst_data %}
				<img class="img-responsive" src="{{ inst.InstLogo.url }}" alt="{{ inst.InstLogo.name }}" height="75" width="450">
				{% endfor %}

			</div>
			<div class="col-xs-5" >

			</div>
			<div class="col-xs-2">

				<h5><p class="text-info">{% now "D d M Y " %}-{% now "H:i" %}</p></h5>

				<a class="btn btn-social-icon btn-twitter">
					<i class="fa fa-twitter"></i>
				</a>
				<a class="btn btn-social-icon btn-facebook">
					<i class="fa fa-facebook"></i>
				</a>
				<a class="btn btn-social-icon btn-linkedin">
					<i class="fa fa-linkedin"></i>
				</a>
				<a class="btn btn-social-icon btn-google-plus">
					<i class="fa fa-google-plus"></i>
				</a>
			</div>
		</div>

	</div>
</div>

{% endblock title %}
<hr>

{% block body %}
<div class="row row-no-padding">
	<div class="col-xs-7 ">
		{% block deptimage%}
		{% for scrollimg in inst_sc_img %}

		<img class="img-rounded img-responsive" src="{{ scrollimg.ImageScroll.url }}" alt="{{ scrollimg.ImageScroll.name }}" height="300" width="675">

		{% endfor %}
		{% endblock %}
	</div>
	<div class="col-xs-3" >
		<div class="panel panel-default">
			<div class="panel-heading"><span class="glyphicon glyphicon glyphicon-comment" aria-hidden="true"></span><b><i>News& Updates</i></b></div>
			<div class="panel-body">

				{% for notice in  noti_notice%}

				<li ><a href="/notice/{{notice.id}}">{{notice.NoticeTag}}</a></li>

				{% endfor %}

				{% for notice in reg_notice %}

				<li ><a href="/notice/{{notice.id}}">{{notice.NoticeTag}}</a></li>

				{% endfor %}
				{% for notice in  pri_notice%}

				<li ><a href="/notice/{{notice.id}}">{{notice.NoticeTag}}</a></li>

				{% endfor %}

				{% for notice in aco_notice %}

				<li ><a href="/notice/{{notice.id}}">{{notice.NoticeTag}}</a></li>

				{% endfor %}

			</div>
		</div>

	</div>
	<div class="col-xs-2"  >
		<ul class="list-group">

			{% for special_event in special_event %}
			<li class="list-group-item">

				<div class="media">
					<div class="pull-left">
						<a href="#">
							<img class= "img-rounded img-responsive" src="{{ special_event.Event_Image.thumbnail.url }}" alt="{{ special_event.Event_Image.name }}" height="50" width="50">
						</a>
					</div>
					<div class="media-body">
						<h5 class="media-heading"><a href="#"><small>{{special_event.Events_Name|truncatechars:17}}</small></a></h5>
						<!-- <p class="text-info "> <small>{{special_event.Events_Descriptions|safe|truncatechars:30}}</small></p>	 -->
					</div>

				</div>
			</li>

			{% endfor %}
		</ul>
	</div>

</div>

<hr>

<div class="row">

	<div class="col-xs-3">

		<div class="panel panel-default">
			<div class="panel-heading"><span class="glyphicon glyphicon glyphicon-comment" aria-hidden="true"></span><b><i>Campus Placements</i></b></div>
			<div class="panel-body">

				{% for notice in plc_notice %}

				<li><a href="/notice/{{notice.id}}">{{notice.NoticeTag}}</a></li>

				{% endfor %}

			</div>
		</div>

	</div>

	<div class="col-xs-3">

		<div class="panel panel-default">
			<div class="panel-heading"><span class="glyphicon glyphicon glyphicon-comment" aria-hidden="true"></span><b><i>Tender Notice</i></b></div>
			<div class="panel-body">

				{% for notice in tndr_notice %}

				<li ><a href="/notice/{{notice.id}}">{{notice.NoticeTag}}</a></li>

				{% endfor %}

			</div>
		</div>

	</div>


	<div class="col-xs-6" >
		{% block aboutdept %}
		{% for inst in inst_data %}
		<div class="panel panel-default">
			<div class="panel-heading"><b>Mission & Vision</b></div>
			<div class="panel-body" style ='background-color: #DCDCDC';>
				<p class="text-justify text-info "> {{ inst.InstDescrip|safe }}</p>
			</div>
		</div>

		{% endfor %}
		{% endblock %}

	</div>
</div>

<hr>

<div class="row">
	<div class="col-xs-3">

		<div class="panel panel-default">
			<div class="panel-heading"><span class="glyphicon glyphicon glyphicon-comment" aria-hidden="true"></span><b><i>Training</i></b></div>
			<div class="panel-body">
				{% for notice in trng_notice %}

				<li ><a href="/notice/{{notice.id}}">{{notice.NoticeTag}}</a></li>

				{% endfor %}
			</div>
		</div>
	</div>
	<div class="col-xs-3">

		<div class="panel panel-default">
			<div class="panel-heading"><span class="glyphicon glyphicon glyphicon-comment" aria-hidden="true"></span><b><i>Exam & Result</i></b></div>
			<div class="panel-body">
				{% for notice in res_notice %}

				<li ><a href="/notice/{{notice.id}}">{{notice.NoticeTag}}</a></li>

				{% endfor %}
				{% for notice in exam_notice %}

				<li ><a href="/notice/{{notice.id}}">{{notice.NoticeTag}}</a></li>

				{% endfor %}
			</div>
		</div>
	</div>
	<div class="col-xs-3">

		<div class="panel panel-default">
			<div class="panel-heading"><span class="glyphicon glyphicon glyphicon-comment" aria-hidden="true"></span><b><i>Academic Announcement</i></b></div>
			<div class="panel-body">
				{% for notice in aca_notice %}

				<li ><a href="/notice/{{notice.id}}">{{notice.NoticeTag}}</a></li>

				{% endfor %}
			</div>
		</div>
	</div>
	<div class="col-xs-3">

		<div class="panel panel-default">
			<div class="panel-heading"><b>RTI</b></div>
			<div class="panel-body">
				Panel content
			</div>
		</div>

	</div>

</div>

{% endblock %}