  {% load staticfiles %}

  <html>
  <head>
    <!DOCTYPE html>
    <html lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="Biswajit Pain" content="">

    <title>KGEC</title>


    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}"rel="stylesheet" media="screen">
    <link href="{% static 'css/bootstrap-social.css' %}"rel="stylesheet" media="screen">
  <!--   <link href="{% static 'css/responsive-font.css' %}"rel="stylesheet" media="screen"> -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">



    <!-- Custom CSS -->
    <link href="{% static 'css/portfolio-item.css' %}"rel="stylesheet" media="screen">

  </head>
  <body style ='background-color:#CACED1';>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style='background-color:#102540'>
      <div class="container" >
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/">
            <img class="navbar-brand" src="../static/img/logo2.png" width="110" height = "50">
          </a>
          <!--<a class="navbar-brand" href="/">KGEC</a>-->
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">About <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="">Institute Information</a></li>
                <li><a href="">Campus</a></li>
                <li><a href="">History</a></li>
                <li><a href="https://www.google.co.in/maps/place/Kalyani+Government+Engineering+College/@22.9849913,88.4396993,17z/data=!3m1!4b1!4m2!3m1!1s0x39f920392d2f441d:0xc593a1293ba87b12?hl=en">Reach Us</a></li>
                <li><a href="http://alumnikgec.org/www">Alumini</a></li>
                <li><a href="/administration/principal/">Principal's Desk</a></li>                   
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Academic <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/department/cse/">Computer Science & Engineering(UG)</a></li>
                <li><a href="/department/ece/">Electronics & Communication Engineering(UG)</a></li>
                <li><a href="/department/it/">Information & Tecnology(UG)</a></li>
                <li><a href="/department/me/">Mechanical Engineering(UG)</a></li>
                <li><a href="/department/ee/">Electrical Engineering(UG)</a></li>
                <li class="divider"></li>
                <li><a href="/department/mcse/">Computer Science & Engineering(PG)</a></li>
                <li><a href="/department/mme/">Mechanical Engineering(PG)</a></li>
                <li><a href="/department/mca/">Master Of Computer Application(PG)</a></li>
                <li class="divider"></li>
                <li><a href="/department/phys/">Department Of Physics</a></li>
                <li><a href="/department/chm/">Department Of Chemistry</a></li>
                <li><a href="/department/math/">Department Of Mathematics</a></li>
                <li><a href="/department/hu/">Department Of Humanities</a></li>                 
              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Administration <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/administration/principal">Principal's Office</a></li>
                <li><a href="/administration/registrar">Registrar's Office</a></li>
                <li><a href="/administration/accounts">ACO's Office</a></li>
                <li><a href="/notice/">Notice</a></li>
                
              </ul>
            </li>


            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admission <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/admission/btech">Under Graduate (B.Tech)</a></li>
                <li><a href="/admission/mtech">Post Graduate (M.Tech)</a></li>
                <li><a href="/admission/mca">MCA</a></li>  
                
                
              </ul>
            </li>


            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Training & Placement <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/trgplc">TPO's Desk</a></li>
                <li><a href="">Activity & Status</a></li>
                <li><a href="/trgplc/record">Placement Statistics</a></li>
                <li><a href="">Placement Notice</a></li>
                <li><a href="">Registration</a></li>
                <li><a href="">CV Format</a></li>
                <li><a href="">Apply VT</a></li>
                
              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Facilities<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="">Central Library</a></li>
                <li><a href="">Hostels</a></li>
                <li><a href="">NKN</a></li>
                <li><a href="">AAkash</a></li>
              </ul>
            </li>

          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
    </nav>

    <!-- <div class="container"> -->

    {% block  header %}

    <!--  All header element will comes here -->

    {% endblock %}
    
    {% block body %}

    <!-- All body elements will come here -->

    {% endblock %}

    <!--   </div> -->
    <div id="footer" style ='background-color:#102540';>

      <div class="container" >

        <div class="row" >
         <div class="col-xs-4" style="color:#ffffff">
          <address >
            <h5 >Kalyani Government Engineering College</h5>
            Kalyani, Nadia, West Bengal<br>
            India, 741235<br>
            <abbr title="Phone"><span class="glyphicon glyphicon glyphicon-phone-alt" aria-hidden="true"></span></abbr>

            +91 3325821309<br>
          </address>
          <address>
            <strong>Principal</strong><br>
            <a href="mailto:#">principal@kgec.ac.in</a>
          </address>

        </div>

        <div class="col-xs-4">

        </div> 
        <div class="col-xs-4">
       
            <!-- <i class="fa fa-twitter fa-lg"</i> -->
            
          <br>
          <a href="https://www.facebook.com/kgec.officialpage"<i class="fa fa-facebook fa-lg "></i></a>
       
         
           <a href="#"<i class="fa fa-linkedin fa-lg"></i> </a>
          
         
           <a href="#" <i class="fa fa-google-plus fa-lg "></i></a>
          
         
        </div>
      </div>
    </div>
    <hr>
    <div class="container" >
      <div class="row">
        <div class="col-xs-4">
        </div>
        <div class="col-xs-4" style='color:#ffffff'>

          <p class="text-center">Kalyani Government Engineering College</br> Copyright @ {% now "Y" %}</p>
        </div>
        
      </div>
    </div>
  </div>  



  <!-- jQuery -->
  <script src="{% static 'js/jquery.js' %}"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="{% static 'js/bootstrap.min.js' %}"></script>

</body> 

</html>