{% extends "nav.html" %}
{% block header %}
<div class="container">
	<div class="row">   
		<div class="col-xs-7">

			{% for prof in admin_prof%}

			<h4 style="display:inline";><b><i>From The  {{prof.AdminType|lower|capfirst }}'s Desk </i></b></h4>

			{% endfor %}

		</div>
		<div class="col-xs-5">
		</div>
	</div>
</div>
<hr>
{% endblock %}

{% block body %}
<div class="container">
	<div class="row">

		<div class="col-xs-3">

			{% for prof in admin_prof%}
			<div class="thumbnail">
				<img class="img-rounded img-responsive"src="{{ prof.AdminImage.thumbnail.url }}" alt="{{prof.AdminImage.name}}" height="150" width="150">
				<div class="caption">
					<hr>
					<h5><span class="glyphicon  glyphicon-user" aria-hidden="true"></span>  {{prof.AdminName}}</h5>
					<h5><span class="glyphicon  glyphicon-envelope" aria-hidden="true"></span>  {{prof.AdminEmailId}}</h5>
					<h5><span class="glyphicon  glyphicon-phone-alt" aria-hidden="true"></span>  {{prof.AdminPhoneNo}}</h5>


				</div>
			</div>

			{% endfor %}

		</div>		

		<div class="col-xs-9">

			{% for prof in admin_prof%}

			<div class="panel panel-default">
				<div class="panel-heading"><b>From {{prof.AdminType|lower|capfirst }}'s Words</b></div>
				<div class="panel-body" style ='background-color: #DCDCDC';>
					<p class="text-justify text-info "> {{prof.AdminWord|safe}}</p>
				</div>
			</div>
			{% endfor %}

		</div>

	</div>
	<hr>
	<div class="row">

		<div class="col-xs-6">

		</div>

		<div class="col-xs-6">

		</div>

	</div>
</div>
{% endblock %}
