{% extends "nav.html" %}
{% block header %}
<div class="container">


	<div class="row">   
			<div class="col-xs-7">
<h3> Training and Placement</h3>
			</div>
			<div class="col-xs-5">

			</div>

		</div>
<hr>
</div>
	{% endblock %}
	{% block body %}
	<div class="container">
	<div class="row">
		
		<div class="col-xs-6">

			<div class="table-responsive">
				<table class="table table-hover table-bordered">
					<tr>
						<th class="success"><small>Year</small></th>
						<th class="success"><small>CompanyName</small></th>
						<th class="success"><small>Placed Student</small></th>
						<th class="success"><small>Salary(LPA)</small></th>
					</tr>

					{% for pdata in place_Data %}
					{% if pdata.PrYear == current_year  %}

					<tr>
						<td >{{pdata.PrYear}}</td>
						<td >{{pdata.PrCompany}}</td>
						<td >{{pdata.PlacedStudent}}</td>
						<td >{{pdata.MaxSalary}}</td>
					</tr>
					{% endif %}

					{% endfor %}

				</table>
			</div>

			<div class="table-responsive">
				<table class="table table-hover table-bordered">
					<tr>
						<th class="success"><small>Year</small></th>
						<th class="success"><small>CompanyName</small></th>
						<th class="success"><small>Placed Student</small></th>
						<th class="success"><small>Salary(LPA)</small></th>
					</tr>

					{% for pdata in place_Data %}
					{% if pdata.PrYear == prev_year1  %}

					<tr>
						<td >{{pdata.PrYear}}</td>
						<td >{{pdata.PrCompany}}</td>
						<td >{{pdata.PlacedStudent}}</td>
						<td >{{pdata.MaxSalary}}</td>
					</tr>
					{% endif %}

					{% endfor %}

				</table>
			</div>

			<div class="table-responsive">
				<table class="table table-hover table-bordered">
					<tr>
						<th class="success"><small>Year</small></th>
						<th class="success"><small>CompanyName</small></th>
						<th class="success"><small>Placed Student</small></th>
						<th class="success"><small>Salary(LPA)</small></th>
					</tr>

					{% for pdata in place_Data %}
					{% if pdata.PrYear == prev_year2  %}

					<tr>
						<td >{{pdata.PrYear}}</td>
						<td >{{pdata.PrCompany}}</td>
						<td >{{pdata.PlacedStudent}}</td>
						<td >{{pdata.MaxSalary}}</td>
					</tr>
					{% endif %}

					{% endfor %}

				</table>
			</div>

			<div class="table-responsive">
				<table class="table table-hover table-bordered">
					<tr>
						<th class="success"><small>Year</small></th>
						<th class="success"><small>CompanyName</small></th>
						<th class="success"><small>Placed Student</small></th>
						<th class="success"><small>Salary(LPA)</small></th>
					</tr>

					{% for pdata in place_Data %}
					{% if pdata.PrYear == prev_year3 %}

					<tr>
						<td >{{pdata.PrYear}}</td>
						<td >{{pdata.PrCompany}}</td>
						<td >{{pdata.PlacedStudent}}</td>
						<td >{{pdata.MaxSalary}}</td>
					</tr>
					{% endif %}

					{% endfor %}

				</table>
			</div>	
		</div>
		<div class="col-xs-6">
		</div>
	</div>
	</div>
{% endblock %}
