{% extends "nav.html" %}
{% block header %}
<div class="container-fluid pad" style="background-color:rgb(246,246,246)">
	<div class="container" >
		<div class="col-lg-12 col-md-12"> 
    		<div class="title_area" id="area">
    		   <h4 class="title_one"><b><i>Placement Statictics</i></b> </h4>
          
         <!--  <span style="width:200px"></span>  -->

    		

          	</div>
		</div>
	</div>
</div>	

	{% endblock %}
	{% block body %}
	<div class="container">
	<div class="row">
		
		<div class="col-xs-6">

			<div class="table-responsive">
				<table class="table table-hover table-bordered ">
					<tr>
						<th class="success"><small>Year</small></th>
						<th class="success"><small>CompanyName</small></th>
						<th class="success"><small>Placed Student</small></th>
						<th class="success"><small>Salary(LPA)</small></th>
					</tr>

					{% for pdata in place_Data %}
					{% if pdata.PrYear == current_year  %}

					<tr>
						<td ><small>{{pdata.PrYear}}</small></td>
						<td ><small>{{pdata.PrCompany}}</small></td>
						<td ><small>{{pdata.PlacedStudent}}</small></td>
						<td ><small>{{pdata.MaxSalary}}</small></td>
					</tr>
					{% endif %}

					{% endfor %}

				</table>
			</div>

			<div class="table-responsive">
				<table class="table table-hover table-bordered">
					<tr>
						<th class="success"><small>Year</small></th>
						<th class="success"><small>CompanyName</small></th>
						<th class="success"><small>Placed Student</small></th>
						<th class="success"><small>Salary(LPA)</small></th>
					</tr>

					{% for pdata in place_Data %}
					{% if pdata.PrYear == prev_year1  %}

					<tr>
						<td ><small>{{pdata.PrYear}}</small></td>
						<td ><small>{{pdata.PrCompany}}</small></td>
						<td ><small>{{pdata.PlacedStudent}}</small></td>
						<td ><small>{{pdata.MaxSalary}}</small></td>
					</tr>
					{% endif %}

					{% endfor %}

				</table>
			</div>

			<div class="table-responsive">
				<table class="table table-hover table-bordered">
					<tr>
						<th class="success"><small>Year</small></th>
						<th class="success"><small>CompanyName</small></th>
						<th class="success"><small>Placed Student</small></th>
						<th class="success"><small>Salary(LPA)</small></th>
					</tr>

					{% for pdata in place_Data %}
					{% if pdata.PrYear == prev_year2  %}

					<tr>
						<td ><small>{{pdata.PrYear}}</small></td>
						<td ><small>{{pdata.PrCompany}}</small></td>
						<td ><small>{{pdata.PlacedStudent}}</small></td>
						<td ><small>{{pdata.MaxSalary}}</small></td>
					</tr>
					{% endif %}

					{% endfor %}

				</table>
			</div>

			<div class="table-responsive">
				<table class="table table-hover table-bordered">
					<tr>
						<th class="success"><small>Year</small></th>
						<th class="success"><small>CompanyName</small></th>
						<th class="success"><small>Placed Student</small></th>
						<th class="success"><small>Salary(LPA)</small></th>
					</tr>

					{% for pdata in place_Data %}
					{% if pdata.PrYear == prev_year3 %}

					<tr>
						<td ><small>{{pdata.PrYear}}</small></td>
						<td ><small>{{pdata.PrCompany}}</small></td>
						<td ><small>{{pdata.PlacedStudent}}</small></td>
						<td ><small>{{pdata.MaxSalary}}</small></td>
					</tr>
					{% endif %}

					{% endfor %}

				</table>
			</div>	
		</div>
		<div class="col-xs-6">
		</div>
	</div>
	</div>
{% endblock %}