{% extends "nav.html" %}

{% block header%}

<div class="container-fluid pad" style="background-color:rgb(246,246,246)">
	<div class="container" >
		<div class="col-lg-12 col-md-12"> 
			<div class="title_area" id="area">
				{% for admission in admission_dtls%}

				<h4 class="title_one"><b><i>Admission {{admission.Admission_Type|upper}}</i></b> </h4>

				{% endfor %}
			</div>
		</div>
	</div>
</div>		

{% endblock %}

{% block body%}
<div class="container">

	{% for admission in admission_dtls%}
	{{admission.Admission_Details|safe}}
	<h3> Admission Through</h3>
	{{admission.Admission_Exam|safe}}
	<h3>Intake</h3>
	{{admission.Admission_intake|safe}}
	{% endfor %}

	<h3>Opening And Closing Rank</h3>
</div>
{% endblock %}