{% extends "nav.html" %}

{% block header%}
<div class="container">

	<div class="row">   
		<div class="col-xs-7">
			{% for admission in admission_dtls%}
			<h4 style="display:inline";><b><i>Admission {{admission.Admission_Type|upper}}</i></b></h4>

			{% endfor %}

		</div>
		<div class="col-xs-5">
		</div>

	</div>
</div>
<hr>

{% endblock %}

{% block body%}
<div class="container">

	{% for admission in admission_dtls%}
	<p>{{admission.Admission_Details}}<p>
		{% endfor %}
	</div>
	{% endblock %}